<h1>Puppymash</h1>
<h3>Current standings:</h3>
<table>
  <thead>
    <tr>
      <th>Puppy Photo</th>
      <th>Rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @puppies.each do |puppy| %>
      <tr>
        <td><img height="150px" width="150px" src="<%= puppy.path %>"/></td>
        <td><%= puppy.rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Seen these all before? Get more puppies!', more_path %>

<br>
